
/*Some necessary adjustments*/
h1, body, html, main {
                     margin: 0;
}

/*Import the font and set the default size*/
html {
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      scroll-behavior: smooth;
}


img { 
    display: block; 
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  } 

ul,ol {
     list-style-type: none;
    }

.sectionOne {
            
             background-image: url("images/soup.jpg");
             background-repeat: no-repeat;
             background-size: 100% 100%;
             color: aliceblue;
             font-size: 2.5rem;
             text-align: center;
             height: 100vh;
            }



.containerOne {

             margin-bottom: 4rem;
             margin-top: 4rem;
             border-bottom: 1px solid gray;
  
  }


  .sectiontwo {
    width: 75%;
    margin-left: auto;
    margin-right: auto;  
    font-size: 1.5rem;
    max-width: 75%;

}







